/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
} */

/* outlines */

.app-outlines {
  border: 1px solid red;

}

.header {
  border: 1px solid red;
}


.footer-login-message {
  border: 1px solid red;
}

/* general */

.header {
  border: 1px solid red;
  padding: 15px;

}

.menu-nav {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.menu-item {
  padding: 10px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

a {
  font-weight: 500;
  color: #2931ba;
  text-decoration: inherit;
}

a:hover {
  color: #4a4e93;
}

/* featured article card */

.featured-article-card {
  border: 1px solid #eeebeb;
  padding: 20px;
}

.featured-article-card-img-container {
  max-width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}


.featured-article-card-img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.featured-article-card-info-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.featured-article-card-date {
  text-align: left;
}


/* article card */

.article-card {
  display: flex;
  border: 1px solid #eeebeb;
  padding: 20px;
}

.article-card:hover {
  background-color: #f5f3f3;
}

.article-card-img-container {
  width: 200px;
  height: 200px;
  margin-right: 16px;
}

.article-card-img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.article-card-info-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.article-card-date {
  text-align: left;
}

/* individual article  */

.indiviual-article {
  padding: 20px;
  max-width: 90%;
}

.indiviual-article-header {
  text-align: center;
}

.indiviual-article-header img {
  max-width: 90%;
}

.indiviual-article-header p {
  text-align: left;
  padding: 0 50px;
}

.indiviual-article-info-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 50px;
}

.individual-article-author {
  flex-grow: 1;
}

.article-body-section {
  margin: auto;
  max-width: 80%;
  padding: 10px 0 25px 0;
}


/* comment section  */

.comment-section {
  margin: auto;
  max-width: 80%;
}

.comment-username {
  font-weight: 600;
}

.individual-comment {
  border: 1px solid #eeebeb;
  padding: 0 15px;
  margin: 10px 0;
  display: flex;
  flex-direction: column;
}

.individual-comment-info {
  display: flex;
  justify-content: space-between;
}

.delete-comment-button {
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(198, 212, 216);
  padding: 5px;
  border-radius: 5%;
  color: rgb(16, 5, 83);
  margin-bottom: 10px;
  width: 70px;
}

.delete-comment-button:hover {

  border: 2px solid rgb(183, 44, 44);
  padding: 5px;
  border-radius: 5%;
  color: rgb(183, 44, 44);
  margin-bottom: 10px;
  width: 70px;
}

/* article voting component */

.voting-section {
  display: flex;
  padding: 5px;
  margin-right: 25px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.voting-section span {
  font-weight: bold;
}

.voted-button {
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(198, 212, 216);
  padding: 8px;
  margin: 5px;
  border-radius: 30%;
  height: 40px;
  aspect-ratio: 1/1;
  color: rgb(16, 5, 83);
}

.voted-button-selected {
  background-color: rgb(196, 222, 229);
  border: 2px solid rgb(117, 150, 160);
  padding: 8px;
  margin: 5px;
  border-radius: 30%;
  height: 40px;
  aspect-ratio: 1/1;
  color: rgb(16, 5, 83);
}

.voted-button-disabled {
  padding: 8px;
  margin: 5px;
  border-radius: 30%;
  height: 40px;
  aspect-ratio: 1/1;

}

.voting-message {
  width: 100px;
  text-align: center;
  font-size: small;
  color: rgb(20, 35, 131);
}

/* comment form  */

.comment-form {
  width: 100%;
  text-align: center;
}

.comment-form input {
  width: 80%;
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(198, 212, 216);
  padding: 10px;
}

.comment-form button {
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(198, 212, 216);
  padding: 8px;
  margin: 5px;
  border-radius: 5%;
  height: 40px;
  aspect-ratio: 1/1;
  color: rgb(16, 5, 83);

}

.comment-form button:hover {
  background-color: rgb(196, 222, 229);
  border: 2px solid rgb(117, 150, 160);
  padding: 8px;
  margin: 5px;
  border-radius: 5%;
  height: 40px;
  aspect-ratio: 1/1;
  color: rgb(16, 5, 83);

}

/* topic page */
.more-topics-section {}

.more-topics-button {
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(198, 212, 216);
  padding: 8px;
  margin: auto;
  border-radius: 5%;
  height: 40px;
  color: rgb(16, 5, 83);
  display: block;
  margin-bottom: 10px;
  margin-top: 10px;
}

.more-topics-button:hover {
  background-color: rgb(196, 222, 229);
  border: 2px solid rgb(117, 150, 160);
}

.more-topics-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.more-topics-item {}